@media screen and (min-width: 712px) {
	.nav-bar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: none;

		.nav-btn {
			display: none;
		}
		.nav-links {
			flex-direction: row;
			// width: 60%;
			background: $primaryColor;
			margin-right: 0;
			border-bottom: none;
			a {
				display: block;
				color: $tertiaryColor;
				padding: 1rem;
				font-size: 1.32rem;

				&:hover {
					padding-left: 16px;
					background: $primaryColor;
					color: $secondaryColor;
					// transform: scale(1.1);
				}
			}
		}
	}
	.skills-contain {
		display: grid;
		grid-template: 300px 300px / 300px 300px;
		grid-row-gap: 3rem;
		grid-column-gap: 4.5rem;

		.skill {
			width: 300px;
			&:hover {
				background: unset;
				color: $tertiaryColor;
			}
		}
	}
}

@media screen and (min-width: 796px) {
	.project-contain {
		display: grid;
		place-content: center;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 0.6rem;
		grid-row-gap: 3rem;
	}

	form {
		margin: 0 10rem;
	}
}

@media screen and (min-width: 880px) {
	.banner {
		background-image: url('../Assests/svg/circle.svg'),
			linear-gradient(360deg, #4600c0, $primaryColor);
		grid-template-columns: repeat(2, 50vw);
		clip-path: unset;
		.banner-contain {
			height: 100%;
			transform: unset;
		}
		.banner-contain-img {
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 600px;
				margin-right: 1rem;
				// transform: translateY(-5.75rem);
			}
			// .code-review {
			//
			// 	width: 200px;
			// }
			// .web-search {
			// 	transform: translateY(-3.8rem);
			// }
		}
		&-contain {
			text-align: left;

			h1,
			h4 {
				padding-left: 2rem;
				text-align: left;
			}
			button {
				margin-left: 2rem;
			}
		}
	}
}

@media screen and (min-width: 1254px) {
	.skills-contain {
		.skill-4 {
			display: none;
		}
		display: grid;
		grid-template: 100% / repeat(4, 1fr);
		grid-column-gap: 0.6rem;

		.skill {
			// width: 230px;
			text-align: center;
			h3 {
				text-transform: capitalize;
			}
		}
	}

	.project-contain {
		display: grid;
		place-content: center;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 0.6rem;
		grid-row-gap: 3rem;

		h3,
		a {
			height: 280px;
			width: 380px !important ;
		}
	}

	.portfolio-projects-contain {
		grid-row-gap: 4rem;
	}

	form {
		margin: 0 25rem;
	}
}
