@import './config';

// Mobile First
// Nav-bar
.nav-bar {
	position: sticky;
	top: 0;
	z-index: 99;
	width: 100%;
	background: $primaryColor;
	color: $tertiaryColor;
	border-bottom: 1px solid $tertiaryColor;
	.logo-space {
		margin: 0 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nav-btn {
		height: 32px;
		border: 2px solid;
		margin: 0 1rem;
		padding: 5px;
	}
	.line {
		width: 18px;
		height: 2px;
		background: $tertiaryColor;
		margin: 3px 0;
	}
	.far {
		font-size: 1.5rem;
	}
	img {
		height: 45px;
		margin: 0.5rem 0;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		background: #2d1191;
		padding-top: 0.2px;
		a {
			display: none;
			font-size: 1.5rem;
			padding: 0.6rem;
			color: $tertiaryColor;

			&:hover {
				padding-left: 1.5rem;
				background: #2d1199;
				color: $secondaryColor;
			}
		}
	}
}
// banner
.banner {
	background: linear-gradient(360deg, #4600c0, $primaryColor);
	padding: 1rem;
	height: calc(100vh - 50px);
	clip-path: ellipse(114% 100% at 9.04% 0%);
	// clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
	display: flex;
	justify-content: center;
	.banner-contain-img {
		display: none;
	}
	&-contain {
		display: flex;
		flex-direction: column;
		justify-content: center;
		transform: translateY(-50px);
		color: $secondaryColor;
		padding: 0 1rem;
		h1 {
			font-size: 2.5rem;
			text-align: center;
			line-height: 3rem;
			padding-bottom: 2rem;
		}
		h4 {
			font-weight: 200;
			line-height: 1.5rem;
			text-align: center;
		}
		button {
			@extend %btn;
			margin: 2rem auto;
		}
	}
}

// skills

.skills {
	background: $primaryColor;
}
.skills-contain {
	margin-top: 2rem;
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	img {
		height: 170px;
		width: 250px;
	}
	.skill {
		width: 400px;
		padding: 1rem;
		transition: background 0.5s linear;
		h3 {
			font-size: 1.4rem;
			text-transform: uppercase;
		}

		&:hover {
			background: rgba(128, 128, 128, 0.4);
			color: $primaryColor;
		}
	}
}

// projects
.projects {
	button {
		display: none;
		@extend %btn;
		margin-top: -3rem;
		margin-bottom: 2rem;
	}
}
.project-contain {
	display: grid;
	margin: 0 2rem;
	grid-row-gap: 1rem;

	.img-container,
	.text-container {
		@include centered;
	}
	img {
		width: 85%;
		// height: 85%;
	}

	.text-container {
		h2 {
			font-size: 2.5rem;
			margin-bottom: 1.1rem;
		}
		h5 {
			font-weight: normal;
			font-size: 1rem;
			color: rgba(0, 0, 0, 0.8);
		}
		p {
			font-size: 1.2rem;
			text-transform: capitalize;
		}
		a {
			color: $tertiaryColor;
			margin-top: 1.1rem;
			font-size: 1.4rem;

			&:hover {
				color: $primaryColor;
			}
		}
	}

	.project {
		display: grid;
		height: calc(100vh - 65px);
		// margin-top: 2rem;
	}
	.project-right {
		grid-template-columns: 2fr 1fr;
		img {
			box-shadow: 6px 6px rgba(0, 0, 0, 0.4);
		}
		.img-container {
			align-items: flex-start;
		}
		.text-container {
			align-items: flex-start;
		}
	}
	.project-left {
		grid-template-columns: 1fr 2fr;
		img {
			box-shadow: -6px 6px rgba(0, 0, 0, 0.4);
		}
		.img-container {
			align-items: flex-end;

			.img-underlay {
				transform: translate(-5px, -5px);
			}
		}
	}
}
// contact-me
.contact-me {
	form {
		display: flex;
		flex-direction: column;
		padding: 1rem 2rem;

		label {
			margin: 1.2rem 0rem 0.1rem 0rem;
			font-size: 1.1rem;
		}
		textarea,
		input {
			border-radius: 0.19rem;
			border: 1px solid $tertiaryColor;
			padding: 0.5rem;
			outline: none;

			&:focus {
				border: none;
				border-bottom: 1px solid $tertiaryColor;
				border-radius: 0rem;
			}
		}
		button {
			@extend %btn;
			padding: 0.6rem 3rem;
			margin: 2rem auto;
			font-size: 1.3rem;
			color: white;
			&:hover {
				color: $tertiaryColor;
			}
		}
	}
}

.move-top {
	position: relative;
	bottom: -30px;
	left: 90%;
	img {
		height: 50px;
	}
}
// footer
footer {
	height: 20vh;
	background: $primaryColor;
	text-align: center;
	color: $secondaryColor;
	display: grid;
	place-content: center;

	a {
		display: inline-block;
		background: #565ade;
		width: 3rem;
		height: 3rem;
		border-radius: 2rem;
	}

	span {
		color: red;
	}
	.footer-links {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 0.5rem;
	}
	.fa {
		margin-top: 0.75rem;
		color: $secondaryColor;
		font-size: 1.5rem;
		&:hover {
			color: $tertiaryColor;
			transform: scale(1.2);
		}
	}
}

// scroll nav
.nav-scrolled {
	.logo-space {
		padding: 0;
		img {
			margin: 0;
		}
	}
}

@import './media';
